:root{
    --neutral: #0f0e17;
    --orange: #ff8906;
    --blue: #8bd3dd;
    --white: #fffffe; 
    --secoundery:#72757e;
}


*{
    margin: 0;
    scroll-behavior: smooth;
}

body{
    font-family:"Noto Serif", sans-serif;
    text-align: center;
    background-color: var(--neutral);
    color: var(--orange);
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "poppins", sans-serif;
}

h1 {
  font-size: 60px;
  font-family: "Noto serif", sans-serif;
}

p{
    color: var(--blue);
}

#navbar{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--neutral);
    padding: 20px 0;
    font-size: 20px;
    border-bottom: 1px solid orange;
}

.nav-links{
    display: flex;
    list-style: none;
    font-family: serif;
    
}

.nav-links a{
    text-decoration: none;
    padding: 0 10px;
    color: var(--orange);

}

.nav-links a:hover{
    text-decoration: underline;
}

section {
    min-height: 100vh;
    padding: 70px 0;
 

}

#welcome-section {
    background-color: var(--neutral);
    color: var(--orange);
    display: flex;
    flex-direction: column;
}

#welcome-section h1 {
    margin-top: 30vh;

}

#welcome-section p {
    color: var(--blue);
    font-size: 25px;
    margin: 20px 0;
    font-style: italic;
}

#projects .project-tile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
   

}


#projects {
    
    background-color: var(--neutral);
    color: var(--orange);
}

#projects h1 {
    border-bottom: 1px solid var(--orange);
    width: fit-content;
    margin: auto;
    font-family: "Noto serif", sans-serif;
}

#projects .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
    place-items: center;
    max-width: 1200px;
    margin: auto;
}

#projects .project-tile {
    height: 525px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral);
    text-decoration: none;
    color: var(--orange);
    border-radius: 5px;
    box-shadow: 8px 8px 10px 5px rgb(100, 100, 100, 0.3);

}



#projects .project-tile p {
    font-size: 25px;
    padding: 10px;
}


#projects .project-tile span {
    padding: 0 5px;
    opacity: 0%;
}

#projects .project-tile:hover span {
  opacity: 100%;
  color: var(--orange);
  transition: opacity 0.25s ease-in;
}

.show-all{
    text-decoration: none;
    width: max-content;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0px 15px;
    background-color: var(--neutral);
    color: var(--orange);
    border: none;
    cursor: pointer; 
    transition: background-corlor 0.2s ease-in;
    font-size: 25px;
   
}

.show-all:hover{
    background-color: var(--blue);
}

#contact{
    background-color: var(--neutral);
    color: var(--orange);
}

#contact h1 {
    margin-top:  300px;

}


#contact .coffe-qustion {
    color: var(--blue);
    font-size: 25px;
    font-style: italic;
}

#contact .social-medias {
 
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
  
}

#contact .social-media{
    text-decoration: none;
    color: var(--orange);
    transition: transform 0.2 ease-in;
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 22px;
}
#contact .social-media:hover{
    transform: translateY(10px);

}


footer{
    border-top:  3px solid var(--orange);
    font-size: 20px;
    padding: 30px;
}

@media only screen and ( width < 700px) {
    h1{
        font-size: 50px;
    }

    #projects .project-tile {
        height: 600px;
        width: 100%;
    }
}

